*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor01:#6E5FF5;
    --cor02:#4555bb;
    --cor03:#5FA0F5;
    --cor-preto:#000000;
    --cor-branca:#FFFFFF;
}
@font-face {
    font-family: 'tech';
    src: url(Fontes/tech.otf) format('opentype');
}

body{
    background-image: linear-gradient(to bottom,rgb(15, 15, 189), #6E5FF5 , rgb(139, 122, 235));
    height: 772px;
}
header{
    background-color: var(--cor02);
    height: 78px;

}
main{
    margin: 20px 0px;
}
h1{
    display: inline-block;
    font-family:'tech';
    color: var(--cor-branca);
}
nav > a{
    text-decoration: none;
    color: var(--cor-preto);
    margin: 0px 2px 0px 2px;
}
a:hover{
    background-color: var(--cor-branca);
    padding: 1px;
}
a:after{
    content: " |";
}

